body {
  color: #222;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

ul {
  max-width: 50%;
}

.africa {
  background: rgba(255,0,0, 0.2);
}

.asia {
  background: rgba(255, 106, 0, 0.2);
}

.oceania {
  background: rgba(255, 255, 0, 0.2);
}

.europe {
  background: rgba(9, 181, 41, 0.2);
}

.north-america {
  background: rgba(0, 69, 255, 0.2);
}

.south-america {
  background: rgba(100, 0, 227, 0.2);
}
